useDynLib(blupADC, .registration=TRUE)
importFrom(Rcpp, evalCpp)
import(data.table)
import(Rcpp)
import(RcppArmadillo)
import(bigmemory)
export(Multitasks_run_DMU_BLUPF90)
export(run_DMU)
export(run_BLUPF90)
export(cal_kinship)
export(geno_qc_impute)
export(geno_check)
export(geno_format)
export(trace_pedigree)
export(ggped)
export(generate_DIR)
export(cal_corrected_phe)
export(generate_renum)
export(cal_dmu_se_reml)
export(cal_blupf90_se_reml)
export(geno_format)
export(LR_evaluation)
export(Hotelling_test)

